.card-container {
  display: flex;
  flex-direction: column;
  background-color: #34b7df;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 0, 0, 0.14), 0rem 0.1rem 1.2rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
